--- Python build and runtime ---
__pycache__/
*.pyc
*.pyo
*.pyd

--- Distribution and install metadata ---
*.egg-info/
build/
dist/
eggs/
.eggs/

--- Virtual Env ---
.venv/


--- Testing ---
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

-- IDE ---
.vscode/
